<h1 class="headline pt-4"><%=image_tag @child.icon_avatar , {class: "rounded-circle mr-2"} if @child.avatar.attached? %><%=@child.nickname%></h1>
<table class="table table-hover">
  <thead class="thead-default">
    <tr>
      <th class="table-top">クリア済み授業</th>
    </tr>
  </thead>
  <tbody>
    <% @child.fin_posts.each do |post| %>
    <tr>
      <td><%=link_to post.name, post_path(post), class:"link-green"%></td>
    </tr>
    <% end %>
  </tbody>
</table>
