<h1 class="headline pt-4">先生一覧</h1>
<table class="table">
  <tbody>
    <%@givings.each do |giving| %>
    <tr>
      <td>
        <%=image_tag giving.giving_avatar , {class: "rounded-circle mr-2"} if giving.avatar.attached? %><%=link_to giving.name, giving_path(giving), class:"link-green"%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
