<div class="flex-container-btn">
  <div class="flex-item-btn">
    <%=link_to "アカウント作成", new_giving_path, class: "link-white btn-circle-flat" %>
    <p class="text">初めての方はこちら</p>
  </div>
  <div class="flex-item-btn">
    <%=link_to "ログイン", giving_login_path, class: "link-white btn-circle-flat" %>
    <p class="text">アカウントをお持ちの方</p>
  </div>
</div>
