<div class="flex-container-btn">
  <div class="flex-item-btn">
    <%=link_to "学校登録", new_parent_path, class: "link-white btn-circle-flat" %>
    <p class="text">初めての方はこちら</p>
  </div>
  <div class="flex-item-btn">
    <%=link_to "ログイン", login_path, class: "link-white btn-circle-flat" %>
    <p class="text">アカウントをお持ちの方</p>
  </div>
</div>
