<div class="top-image">
  <h1 class="home-top headline">manaberu</h1>
  <p class="paragraph"><%=link_to "manaberuって何？", homes_about_path, class:"link-top" %></p>
</div>
<div class="flex-container">
  <div class="flex-item"><%=link_to "教員はこちら", homes_parent_top_path, class:"btn-square link-white" %></div>
  <div class="flex-item"><%=link_to "生徒はこちら", homes_child_top_path, class:"btn-square link-white" %></div>
</div>
