<h1 class="headline"><%=@parent.name%></h1>
<table class="table table-hover">
  <thead class="thead-default">
    <tr>
      <th>child名前</th>
      <th>child年齢</th>
    </tr>
  </thead>
  <tbody>
    <% @parent.children.each do |child| %>
    <tr>
      <td><%=link_to child.name, child_path(child), class:"link-orange"%></td>
      <td><%= child.age %></td>
    </tr>
    <% end %>
  </tbody>
</table>
