<h1 class="headline"><%=@parent.name%><span class="school-top">:学校ナンバー(<%=@parent.id%>)</span></h1>
<table class="table table-hover">
  <thead class="thead-default">
    <tr>
      <th class="color">生徒名</th>
      <th class="color">年齢</th>
    </tr>
  </thead>
  <tbody>
    <% @parent.children.each do |child| %>
    <tr>
      <td><%=link_to child.name, child_path(child), class:"link-green"%></td>
      <td class="color"><%= child.age %></td>
    </tr>
    <% end %>
  </tbody>
</table>
