<h1 class="headline pt-4">授業一覧</h1>
<table class="table">
  <tbody>
    <%@posts.each do |post| %>
    <tr>
      <td>
        <%=link_to post.name, post_path(post), class:"link-green"%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
