/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";

body{
  color: orange;
}

header{
  width:100%;
  height: 70px;
  border-bottom: 1px solid;
  border-color: orange;
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: space-between;
}

header h1{
  margin-left: 20px;
  margin-bottom: 0;
  padding-top: 5px;
}

.gnav{
  display: flex;
  margin: 0;
  padding: 0;
  float: right;
  height: 70px;
  line-height: 70px;
  text-align: center;
}

.gnav li{
  margin: 0 20px;
  list-style: none;
}

.gnav li a {
  display: block;
  color: orange;
  text-decoration: none;
}

.gnav li a:hover{
  opacity: 0.5;
}

.gnav li:hover > ul > li {
  height: 50px;
  line-height: 50px;
  overflow: visible;
}

.gnav ul{
  padding: 0;
}

.gnav li a:link{
  color: orange;
}

.gnav li li{
  margin: 0;
  height: 0;
  overflow: hidden;
  transition: .5s;
}

.gnav li li a{
  border-bottom: 1px solid orange;
}

// 隙間-------------------------------------------------------
.mar{
  padding-top: 70px;
}

// link_to-color---------------------------------------------
.link-orange{
  color: orange;
}

.link-orange:hover{
  color: orange;
  text-decoration: none;
  opacity: 0.5;
}
// wrapper-----------------------------------------------------
.wrapper{
  margin: 0 30px;
}
// headline------------------------
.headline{
  text-align: center;
}
// table-----------------------------------
table{
  margin: 20px auto;
}

.alert{
  text-align: center;
}
