<header>
  <h1>manaberu</h1>
  <% if parent_logged_in? %>
  <ul class="gnav">
    <li>
      <a href="#" ontouchsrart=""><span>tap&slide</span></a>
      <ul>
        <li><%=link_to current_user_parent.name, parent_path(current_user_parent), class: "link-orange" %></li>
        <li><%=link_to "parentユーザー編集", edit_parent_path(current_user_parent), class: "link-orange" %></li>
        <li><%=link_to "parentログアウト", logout_path, {method: :delete , class: "link-orange"} %></li>
      </ul>
    </li>
  </ul>
  <% else %>
  <ul class="gnav">
    <li>
      <a href="#" ontouchsrart="">tap&slide</a>
      <ul>
        <li></li>
      </ul>
    </li>
  </ul>
  <% end %>
</header>

<div class="mar"></div>
